body
{
    background-color: hsl(212, 45%, 89%);
}

#center_block
{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 25em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

img
{
    max-width: 90%;
    max-height: 90%;
    margin-top: 12px;
    border-radius: 7px;
}

p, h1
{
    background-color: red;
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}